@model Shoppers12.Models.Data.OrderLine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderLineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderLineId)
        </dd>
    </dl>
    <!--A for loop is going to be added here to loop over the different orders in the orderline, each order can also have details -->
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderLineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
